<div class="w-fit"> 
  <div class="display: block; overflow: hidden; position: relative; box-sizing: border-box; margin: 0px;">
    <a href="{{ product.url | within: collection }}">
      <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}" height="" width="">
    </a>
  </div>
    <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
    {{ product.price | money }}
    {% unless product.available %}<br><strong>sold out</strong>{% endunless %}
</div>