<div
  class="relative bg-white "
  x-data="{ openMenu: false, openCart: false }"
  :class="{ 'overflow-hidden': openMenu || openCart, 'overflow-visible': !openMenu && !openCart }"
>
  <style>
    [x-cloak] {
      display: none !important;
    }
  </style>
  <div class="mx-auto px-3 w-full fixed  top-0 bg-white sm:px-3 h-11">
    <div class="flex justify-between h-full items-center overflow-hidden  ">
      <div class="-ml-2 -my-2 mr-3 lg:hidden flex justify-evenly items-center">
        <button
          @click="openMenu = !openMenu"
          type="button"
          class="bg-white p-2 inline-flex items-center justify-center focus:outline-none"
        >
          {% render 'icon-hamburger-menu' %}
        </button>
        <a class="block lg:hidden" href="{{ routes.search_url }}" class="text-base text-gray-500 hover:text-gray-900">
          {% render 'icon-search' -%}
        </a>
      </div>
      <!-- NAVIGATION MENU -->
      <nav class="hidden lg:flex gap-4 items-center justify-start">
        {% for link in linklists['main-menu'].links %}
          {% if link.links != blank %}
            <div class="relative">
              <button type="button" class="inline-flex items-center text-base text-gray-500 hover:text-gray-900">
                {{ link.title }}
              </button>
            </div>
          {% else %}
            <div class="relative">
              <a
                class="decoration-dotted underline-offset-2 underline     {% if link.active == true %} text-red-600  {% endif %}"
                href="{{ link.url }}"
                class="text-base text-gray-500 hover:text-gray-900"
              >
                {{ link.title }}
              </a>
            </div>
          {% endif %}
        {% endfor %}
      </nav>
      <!-- STORE NAME / STORE LOGO -->
      <div class="flex pr-8 justify-center truncate">
        <h1 class="text-xl font-bold truncate">
          <a href="{{ routes.root_url  }}" class="block">
            <img height="" width="" src="{{ 'DEEDS-WED.jpg' | asset_url }}" alt="Default Logo Image" class="w-20 ">
          </a>
        </h1>
      </div>

      <div class="flex items-center gap-4  justify-end">
        <a class="hidden lg:block" href="{{ routes.search_url }}" class="text-base text-gray-500 hover:text-gray-900">
          {% render 'icon-search' -%}
        </a>
        <a @click="openCart = !openCart" class="whitespace-nowrap text-base text-gray-500 hover:text-gray-900">
          <svg class="w-6 h-6">
            {% render 'icon-shopping-bag' %}
          </svg>
        </a>
        {% if shop.customer_accounts_enabled == true %}
          <a href="{{ routes.account_login_url }}" class="text-base text-gray-500 hover:text-gray-900">Login</a>
          <a href="{{ routes.account_register_url }}" class="text-base text-gray-500 hover:text-gray-900">Register</a>
        {% endif %}
      </div>
    </div>
  </div>
  <nav
    id="mobile-navigation"
    :class="openMenu ? 'visible' : 'invisible' "
    x-cloak
    class="fixed md:hidden top-0 right-0 bottom-0 left-0 backdrop-blur-sm    z-10"
  >
    <!-- UL Links -->
    <ul
      class="absolute top-0 left-0 bottom-0 w-64 pb-4 bg-white drop-shadow-xl z-10 transition-all"
      :class="openMenu ? '-translate-x-0' : '-translate-x-full'"
    >
      <div class="flex gap-4 items-center">
        <button
          @click="openMenu = !openMenu"
          type="button"
          class="bg-white p-2 inline-flex items-center justify-center focus:outline-none"
        >
          {% render 'icon-close-button' %}
        </button>
        <a class="block" href="{{ routes.search_url }}" class="text-base text-gray-500 hover:text-gray-900">
          {% render 'icon-search' %}
        </a>
      </div>
      {% for list in linklists['main-menu'].links %}
        <li class=" border-b  border-black">
          <a
            href="{{ list.url }}"
            class="  block p-4 {% if list.title == 'Merch'  %}hidden {% endif %}"
            aria-current="true"
          >
            {% if list.title == 'Magazine' %}
              {{ list.title |  capitalize }}
            {% endif %}
          </a>
          {% if list.title == 'Merch' %}
            <ul class="dropdownBtn border-b p-4">
              <li class="capitalize flex items-center justify-between w-full">
                <p>Merch</p>
                {% render 'icon-dropdown-notOpen' %}
              </li>
                <div class="list collections-container hidden ">
                  {% for collection in collections %}
                    <div class="collection-item pt-4">
                      <h2>{{ collection.title |  capitalize }}</h2>
                    </div>
                  {% endfor %}
                </div>
            </ul>
          {% endif %}
        </li>
      {% endfor %}
      <ul class="dropdownBtn border-b capitalize p-4 border-black">
        <li class=" flex items-center justify-between w-full">
          <p>information</p>
          {% render 'icon-dropdown-notOpen' %}
        </li>
        {% for list in linklists.Footer.links %}
            <div class="list hidden ">
                <li class="py-4">
                  <a
                    href="{{ list.url }}"
                    class=""
                    aria-current="true"
                  >
                    {{ list.title }}
                  </a>
                </li>
            </div>
        {% endfor %}
      </ul>
      <div class="w-full grid place-items-center">
        <img height="" width="" src="{{ 'DEEDS-WED.jpg' | asset_url }}" alt="Default Logo Image" class="w-20 ">
        <h1 class="font-bold text-xl capitalize text-center">Manual for freedom research and creativity</h1>
      </div>
    </ul>
  </nav>

  <div
    id="cart-navigation"
    :class="{ 'visible': openCart, 'invisible': !openCart }"
    x-cloak
    class="fixed top-0 right-0 bottom-0 left-0 backdrop-blur-sm z-10"
  >
    <!-- UL Links -->
    <div
      class="absolute top-0 right-0 bottom-0 w-[100vw] md:w-[28rem]  pb-4 bg-white drop-shadow-xl z-10 transition-all"
      :class="openCart ? 'translate-x-0' : 'translate-x-full'"
    >
      <div class="flex justify-between my-2 mx-5 items-center border-b border-black">
        {% render 'icon-shopping-bag' %}
        <button
          @click="openCart = !openCart"
          type="button"
          class="bg-white p-2 inline-flex items-center justify-center focus:outline-none"
        >
          {% render 'icon-close-button' %}
        </button>
      </div>
    </div>
  </div>
</div>
